// Add your custom CSS here.
/* .shipping-line strong:after {
    content: 'contados a partir de março, devido a periodo de férias'
}
.order-info__shipping-freight {
    .shipping-line, .order-info__shipping-nfe {
      display: none !important;
    }
} */
.order-info__toggle {
    display: none !important;
}
